/* layout: main */
.app {
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
  background-color: black;
  padding: 60px;
}
.container {
	background-color: #a09e9e;
	border: 1px solid #D4D0C8;
	border-right-color: #404040;
	border-bottom-color: #404040;
	position: absolute;
	white-space: nowrap;
  height: 457px;
  width: 305px;
}
.title-container {
  display: flex;
  height: 34px;
  padding: 2px;
  overflow: hidden;
  margin-bottom: 1px;
  background-color: #a09e9e;
}
.menu-container {
  height: 32px;
  color: #808080;
  background-color: rgb(211,208,200);
	position: relative;
}
.game_menu-container {
  overflow: hidden;
  border: 2px solid #FFF;
  border-radius: 0 2px 0 2px;
  /* margin-left: 2px; */
  background-color: rgb(211,208,200);
}
.game-status-bar {
  padding: 1px;
  background-color: #c0c0c0;
  border: 3px solid #FFF;
  border-bottom: none;
  border-right: none;
}
.game-menu {
  height: 51px;
  margin-bottom: 6px;
  border: 2px solid $border-med;
  border-right-color: #FFF;
  border-bottom-color: #FFF;
  padding: 4px 7px 0 5px;
  overflow: hidden;
  text-align: center;
  display: flex;
  border-left-color: #000;
	border-top-color: #000;
}
.num-box {
  height: 51px;
  border-color: #000;
  border-right-color: #FFF;
  border-bottom-color: #FFF;
}
.smiley-container {
  border: 1px solid #808080;
  flex: 1 0 auto;
	text-align: center;
}
.board-container {
  margin-top: 4px;
  margin: 34px 15px 37px;
	height: 68px;
  display: inline-block;
	margin-right: 16px;
  background-color: #D4D0C8;
	border: 1px solid #D4D0C8;
	border-right-color: #404040;
	border-bottom-color: #404040;
	position: absolute;
	white-space: nowrap;
}


/* text */
.app-title {
  padding: 2px;
  padding-left: 34px;
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: bold;
  color: #D2D0C8;
  margin-top: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
  padding-right: 17px;
  padding-bottom: 6px;
}
.text {
  display: inline-block;
	margin: 1px -1px -1px 1px;
}
.digit {
  display: inline-block;
  margin: 1px 1px 0;
  width: 11px;
  height: 21px;
}

/* icons */
.icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 1px;
  /* margin-top: -1px; */
  padding-bottom: 2px;
  margin-bottom: 1px;
}
.boom {
  width: 5px;
  height: 5px;
}
.mine-count{
  border: 1px solid grey;
  border-radius: 1px;
  padding: 2px;
  width: 54px;
  background-color: black;
  box-shadow: 0 1px 3px grey;
  color: red;
  height: 51px;
  padding-top: 10px;
  font-size: 18px;
}

/* buttons */
.classic-btns-container  {
  padding-top: 2px;
  display: flex;
  float: right;
}
.classic-btn {
  height: 11px;
	width: 13px;
}
.classic-inner-btn {
  height: -11px * -1;
  width: -13px * -1;
}
.btn-container {
  height: 11px;
  width: 13px;
  padding: 0;
}
.menu-btn {
  display: inline-block;
  text-align: center;
  height: 20px;
  padding: 3px 5px 0 5px;
  padding-left: 3px;
  border: 1px solid transparent;
  overflow: hidden;
  font-size: 16px;
  padding-top: 4px;
}
.smiley-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px solid #808080;
  border-radius: 0 1px 0 1px;
  margin-left: 2px;
}
.smiley-inner {
  height: 40px;
  width: 40px;
  padding: 2px 1px 1px 2px;
  border: 5px solid #FFF;
  border-right-color: #808080;
  border-bottom-color: #808080;
}
.smiley-icon {
  height: 38px;
  width: 38px;
  margin-bottom: 14px;
}
/* board */
.inner-board {
  padding: 1px;
  border: 1px solid #FFF;
  border-right-color: #808080;
  border-bottom-color: #808080;
}
.board {
  padding: 6px 5px 5px 0px;
  background-color: #c0c0c0;
  border: 2px solid #FFF;
  border-bottom: none;
  border-right: none;
}
table {
  display: table;
  color: #c0c0c0;
  background-color: #c0c0c0;
  width: 300px;
  min-width: 300px;
  height: 300px;
  min-height: 300px;
  text-align: center;
  font-size: 0.95em;
  border: 2px solid yellow;
}
tr {
  display: table-row;
  vertical-align: inherit;
  cursor: pointer;
  text-align: center;
  font-size: 0.95em;
  border: 1px solid black;
  text-align: center;
}
tbody {
  border: 2px solid yellow;
}
td {
  display: table-cell;
}
.cell {
  font-size: 0.95em;
  border: 1px solid black;
}

/* stopwatch */
.Stopwatch {
  border: 1px solid grey;
  border-radius: 1px;
  padding: 2px;
  width: 54px;
  background-color: black;
  box-shadow: 0 1px 3px grey;
  color: red;
  height: 51px;
}
.Stopwatch-display {
  height: 51px;
  padding: 2px;
  padding-top: 8px;
  font-size: 18px;
}
.digits{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  color:  #808080;
}

