* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  background-color: white;
  margin: 40px;
}
.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
  background-color: rgb(34, 34, 34);
  height: 150vh;
  color: rgb(250, 250, 250);
}
.App-title {
  font-size: 50px;
  padding: 25px 0;
}
.board {
  margin: 40px;
  margin-left: 26%; 
}
.grid_header {
  margin: 40px;
  margin-left: 26%; 
  display: flex;
  background-color:rgb(231, 222, 222);
  border: 5px solid yellow;
  cursor: pointer;
  text-align: center;
  width: 1000px;
  height: 75px;
}
@media (max-width: 900px) {
  .Stopwatch {
    margin-bottom: 40px;
    padding-left: 435px;
  }
}
.Stopwatch {
  margin: 60px;
  margin-left: 850px;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 20px;
  width: 400px;
  background-color: rgb(22, 27, 31);
  box-shadow: 0 3px 6px rgb(12, 12, 12);
}
.Stopwatch-header {
  font-size: 40px;
  font-weight: bold;
}
button {
  background-color: #202b33;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
}
button:hover {
  background-color: #106ba3;
}
.Stopwatch button {
  padding: 12px 32px;
  font-size: 20px;
}
.Stopwatch-display {
  padding: 40px 0;
  font-size: 48px;
}
table {
  display: table;
  background-color: rgb(223, 70, 70);
  text-align: center;
  font-size: 0.95em;
  font-weight: 300;
  border: 5px solid yellow;
  height: 1000px;
  width: 1000px;
}
.digits{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  color:  #f5f5f5;
}
.mili-sec{
  color:  #e42a2a;
}
.total_mines {
  background-color: black;
  color: red;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.timer {
  background-color: black;
  color: red;
  font-size: 50px;
  margin-left: 150px;
  padding: 0 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.smiley {
  padding-left: 429px;
  background-color: rgb(231, 222, 222);
}
tr {
  display: table-row;
  vertical-align: inherit;
  cursor: pointer;
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
  border: 1px solid black;
  height: 50px;
  width: 500px;
  text-align: center;
}
tbody {
  border: 5px solid yellow;
  width: 500px;
}
td {
  display: table-cell;
  height: 50px;7
}
.cell {
  background-color:rgb(231, 222, 222);
  color: black;
  padding: 20px;
  font-size: 20px;
}
